$primary-color: rgba(71, 75, 255, 0.9);

body {
    position: relative;

    box-sizing: border-box;
    background: url('../../public/assets/images/laptop-ul.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-backdrop-filter: blur(35px);
    backdrop-filter: blur(35px);
}

.copy {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -0%);
    font-family: 'inter';
    font-weight: bold;
    font-size: 15px;
    color: #404040
}

.spinner {
    position: relative;
    width: 24.6px;
    height: 24.6px;
    margin: 0 auto;
    transform: translateY(200px);
    font-size: 30px;
    color: $primary-color
}

.spinner div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-top: 0px;
    animation: spinner-4t3wzl 1.75s infinite backwards;
}

.spinner i {
    box-shadow: $primary-color 6px 6px 30px;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
}

.spinner div:nth-child(1) {
    animation-delay: 0.21s;
}

.spinner div:nth-child(2) {
    animation-delay: 0.42s;
}

.spinner div:nth-child(3) {
    animation-delay: 0.63s;
}

.spinner div:nth-child(4) {
    animation-delay: 0.84s;
}

.spinner div:nth-child(5) {
    animation-delay: 1.0499999999999998s;
}

@keyframes spinner-4t3wzl {
    0% {
        transform: rotate(0deg) translateY(-200%);
    }

    60%,
    100% {
        transform: rotate(360deg) translateY(-200%);
    }
}

#react {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}