$primary-shadow: rgba(255, 79, 196, 0.181);
$background: rgba(255, 255, 255, 0.152);
$button-color: rgba(71, 75, 255, 0.9);


.nav-container {
    position: fixed;
    bottom: 100px;
    left: 10px;
    width: 60px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    margin: 30px;
    backdrop-filter: blur(16px) saturate(180%) brighness(100%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: $background;
    border-radius: 20px;
    box-shadow: $primary-shadow 0px 1px 20px;
    z-index: 100;
    transition: 1s;

    .nav-wrapper {
        display: flex;
        width: 170px;
        border-radius: 17px;
        padding: 5px;
        z-index: 90;

        &:hover {
            box-shadow: $button-color 0px 0px 10px 1px;
        }
    }

    .nav-buttons {
        display: flex;
        height: 40px;
        width: 40px;

        justify-content: center;
        align-items: center;
        margin-left: 10px;

        backdrop-filter: blur(16px) saturate(180%) brighness(100%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background-color: rgba(255, 255, 255, 0.827);
        border-radius: 12px;
        transition: 500ms;

        i {
            color: $button-color;
            font-size: 20px;
        }

        h1 {
            position: absolute;
            left: 80px;
            color: white;
            font-family: 'inter' sans-serif;
            font-weight: 400;
            font-size: 25px;
            opacity: 0;
            // transition: opacity 100ms ease-in-out, font-size 1s ease-in-out;
            white-space: nowrap;
        }

        &:hover {
            width: 50px;
            transition: 1s;
            box-shadow: rgb(0, 94, 255) 0 0 20px 3px;
            opacity: 1;
            transition: 1s;
        }

        @media screen and (max-width: 700px) {
            height: 30px;
            width: 30px;

            i {
                color: $button-color;
                font-size: 15px;
            }

            &:hover {
                width: 30px;
                transition: 1s;
                box-shadow: rgb(0, 94, 255) 0 0 20px 3px;
                opacity: 1;
                transition: 1s;
            }
        }
    }

    &:hover {
        width: 230px;
        align-items: flex-start;
        transition: 500ms;
    }

    &:hover h1 {
        display: flex;
        font-size: 25px;
        opacity: 1;
        transition: 1s;
    }

    .active {
        box-shadow: rgb(0, 94, 255) 0 0 20px 8px;
    }

    @media only screen and (max-width: 700px) {
        & {
            position: absolute;
            bottom: 90%;
            left: 0;
            right: 0;
            width: 90vw;
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin: auto;
            margin-top: 20px;
        }

        &:hover {
            width: 90vw;
            align-items: center;
            transition: 500ms;
        }
        &:hover h1 {
            display: flex;
            font-size: 0px;
            opacity: 0;
            transition: 1s;
        }
    }

}